@font-face {
	font-family:"Goudy Oldstyle Std";
	font-style:normal;
	font-weight:normal;
	src:url("../font/GoudyStd.otf") format('opentype');
}
@font-face {
	font-family:"Goudy Oldstyle Std";
	font-style:normal;
	font-weight:bold;
	src:url("../font/GoudyStd-Bold.otf") format('opentype');
}
@font-face {
	font-family:"Goudy Oldstyle Std";
	font-style:italic;
	font-weight:normal;
	src:url("../font/GoudyStd-Italic.otf") format('opentype');
}
@font-face {
	font-family:"Goudy Oldstyle Std";
	font-style:oblique;
	font-weight:normal;
	src:url("../font/GoudyStd-Italic.otf") format('opentype');
}
@font-face {
	font-family:"Marisa Medium";
	font-style:normal;
	font-weight:500;
	src:url("../font/MarisaMedium.otf") format('opentype');
}
@font-face {
	font-family:Marisa;
	font-style:normal;
	font-weight:normal;
	src:url("../font/MarisaRegular.otf") format('opentype');
}
@font-face {
	font-family:"Trade Gothic LT Std Cn";
	font-style:normal;
	font-weight:normal;
	font-stretch:condensed;
	src:url("../font/TradeGothicLTStd-Cn18.otf") format('opentype');
}
@font-face {
	font-family:"Trade Gothic LT Std Cn";
	font-style:italic;
	font-weight:normal;
	font-stretch:condensed;
	src:url("../font/TradeGothicLTStd-Cn18Obl.otf") format('opentype');
}
@font-face {
	font-family:"Trade Gothic LT Std Cn";
	font-style:oblique;
	font-weight:normal;
	font-stretch:condensed;
	src:url("../font/TradeGothicLTStd-Cn18Obl.otf") format('opentype');

body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	font-family:"Goudy Oldstyle Std", serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.455;
	margin:0;
	padding:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
.dent {
	text-indent:1em;
}
.chn {
	font-family:"Trade Gothic LT Std Cn", sans-serif;
	font-size:1.167em;
	line-height:1.714;
	margin:1em 0 0.5em 0;
	orphans:1;
	text-align:center;
	widows:1;
}
.cht {
	font-family:"Marisa Medium", sans-serif;
	font-size:2em;
	font-weight:500;
	line-height:0.846;
	margin:0.5em 0 1em 0;
	orphans:1;
	text-align:center;
	widows:1;
}
.copy,
.copyBot {
	line-height:1.182;
	text-align:center;
}
.copyBot {
	margin-bottom:1em;
}
.dedi {
	margin:0.5em 1em;
	text-align:center;
}
.dingbat {
	margin:8px 0 0.5em 0;
}
.endor {
	margin:1em 0 0 0;
}
.endorRef {
	margin:0 0 0.5em 0;
	text-align:right;
}
.epi {
	font-style:italic;
	line-height:1.545;
	margin:0 1.5em;
	text-align:center;
}
.epiRef {
	font-variant:small-caps;
	line-height:1.545;
	margin:0 1.5em 1.5em 1.5em;
	text-align:center;
}
.ext {
	margin:8px 1.5em 0.5em 1.5em;
}
.ext_1st_of_sev {
	margin:8px 1.5em 0 1.5em;
}
.ext_last {
	margin:0 1.5em 0.5em 1.5em;
	text-indent:1em;
}
.ext_middle {
	margin:0 1.5em 0 1.5em;
	text-indent:1em;
}
.extract_verse_hanging_1st {
	margin:8px 1.5em 0 2em;
	text-indent:-1em;
}
.extract_verse_hanging_last {
	margin:0 1.5em 0.5em 2em;
	text-indent:-1em;
}
.extract_verse_hanging_mid {
	margin:0 1.5em 0 2em;
	text-indent:-1em;
}
.footnote {
	font-size:0.833em;
	line-height:1.25;
	text-indent:1em;
}
.list {
	margin:0 1.5em 0.5em 2em;
}
.listFirst {
	margin:0.5em 1.5em 0.5em 2em;
}
.listLast {
	margin:0 1.5em 0.5em 2em;
}
li.num,
li.numFirst,
li.numLast {
	list-style-position:outside;
	list-style-type:decimal;
	margin:0 1.5em 0 0;
}
li.numFirst {
	margin:8px 1.5em 0 0;
}
li.numLast {
	margin:0 1.5em 0.5em 0;
}
.ptsub {
	font-family:"Marisa Medium", sans-serif;
	font-size:1.667em;
	font-weight:500;
	line-height:1.1;
	margin:0 0 17px 0;
	orphans:1;
	text-align:center;
	widows:1;
}
.bold {
	font-weight:bold;
}
.italic {
	font-style:italic;
}
.smallcaps {
	font-variant:small-caps;
}
.superscript {
	font-size:smaller;
	vertical-align:super;
}
.dropcap {
	float:left;
	font-family:Marisa, sans-serif;
	font-size:3.916em;
	line-height:1;
	margin-bottom:-0.2em;
	margin-right:0.05em;
	margin-top:-0.296em;
}
.fullpage {
	width:100%;
	text-align:center;
	page-break-inside:avoid !important;
	page-break-after:always !important;
}
.fullpage img {
	display:inline-block;
	width:100%;
	margin:0 auto;
}
.pagebreakafter {
	clear:both !important;
	page-break-after:always !important;
}
.quoteLeft,
.quoteRight {
	max-width:35%;
	page-break-inside:avoid !important;
	margin:0.5em 0;
}
.quoteLeft {
	float:left;
	margin-right:1em
}
.quoteRight {
	float:right;
	margin-left:1em;
}
.pullquote {
	font-family:"Trade Gothic LT Std Cn", sans-serif;
	font-size:1em;
	line-height:1.5;
	text-align:center;
}
.ptn {
	font-family:"Trade Gothic LT Std Cn", sans-serif;
	font-size:1.167em;
	line-height:1.714;
	margin:0.5em 0;
	orphans:1;
	text-align:center;
	widows:1;
}
.ptt {
	font-family:"Marisa Medium", sans-serif;
	font-size:2.5em;
	font-weight:500;
	line-height:0.733;
	margin:0 0 1em 0;
	orphans:1;
	text-align:center;
	widows:1;
}
table.basic {
	width:98%;
	margin:1em 1%;
	border-collapse:collapse;
	border:none;
}
.basic td {
	line-height:1.273;
	margin:0 0 0.25em 0;
	text-align:left;
	vertical-align:top;
}
